name: ci

concurrency: ci

permissions:
  contents: read
  id-token: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.12.0
    - name: Build and push Docker image
      uses: docker/build-push-action@v6.19.1
      with:
        context: .
        load: true
        tags: tenjaa/concourse-github-app-token:${{ github.sha }}
    - name: Save image
      run: |
        docker save tenjaa/concourse-github-app-token:${{ github.sha }} > concourse-github-app-token.tar
    - name: Pass image to next job
      uses: actions/upload-artifact@v6.0.0
      with:
        name: image
        path: concourse-github-app-token.tar
  e2e:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: actions/download-artifact@v7.0.0
      with:
        name: image
    - run: |
        docker load < concourse-github-app-token.tar
    - name: test
      run: ./e2e.sh
      env:
        APP_ID: ${{ secrets.app_id }}
        INSTALLATION_ID: ${{ secrets.installation_id }}
        PRIVATE_KEY: ${{ secrets.private_key }}
  release:
    needs: [e2e]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7.0.0
      with:
        name: image
    - run: |
        docker load < concourse-github-app-token.tar
    - uses: docker/login-action@v3.7.0
      with:
        username: tenjaa
        password: ${{ secrets.docker_password }}
    - uses: aws-actions/configure-aws-credentials@v6.0.0
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: us-east-1
    - name: Login to Public ECR
      uses: docker/login-action@v3.7.0
      with:
        registry: public.ecr.aws
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Update latest tag
      run: |
        docker tag tenjaa/concourse-github-app-token:${GITHUB_SHA} tenjaa/concourse-github-app-token:latest
        docker tag tenjaa/concourse-github-app-token:${GITHUB_SHA} public.ecr.aws/f1s7y4s6/concourse-github-app-token:latest
        docker tag tenjaa/concourse-github-app-token:${GITHUB_SHA} ghcr.io/tenjaa/concourse-github-app-token:latest
        docker push tenjaa/concourse-github-app-token:latest
        docker push public.ecr.aws/f1s7y4s6/concourse-github-app-token:latest
        docker push ghcr.io/tenjaa/concourse-github-app-token:latest
