name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Java 11
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 11
    - name: Build with Gradle
      run: ./gradlew build
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.0.2
    - name: Login to DockerHub
      uses: docker/login-action@v1.6.0
      with:
        username: tenjaa
        password: ${{ secrets.docker_password }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: tenjaa/concourse-github-app-token:${{ github.sha }}
  e2e:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: test
      run: ./e2e.sh
      env:
        APP_ID: ${{ secrets.app_id }}
        INSTALLATION_ID: ${{ secrets.installation_id }}
        PRIVATE_KEY: ${{ secrets.private_key }}
  release:
    needs: [e2e]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - name: Update latest tag on Docker Hub
      run: |
        echo "${DOCKER_PASSWORD}" | docker login --username "${DOCKER_USER}" --password-stdin
        docker pull tenjaa/concourse-github-app-token:${GITHUB_SHA}
        docker tag tenjaa/concourse-github-app-token:${GITHUB_SHA} tenjaa/concourse-github-app-token:latest
        docker push tenjaa/concourse-github-app-token
      env:
        DOCKER_USER: tenjaa
        DOCKER_PASSWORD: ${{ secrets.docker_password }}
